@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$bgcolor:whitesmoke;
$navheight:100px;
$bgheight:80vh;
$hovercolor: tomato;

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    nav{
        height: $navheight;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: row;
        background-color: $bgcolor ;
        justify-content: space-around;
        align-items: center;
        box-shadow: 5px 5px 5px grey;


        // first child
        .first{
            transition: 1s ease in;
            &:hover{
                height: 70px;
                width: 70px;
                
            }
            img{
                box-shadow: 3px 3px 3px grey;
                height: 70px;
                width: 70px;
                
            }
        }
        // second child
        .second{
            a{
                text-decoration: none;
                margin-right: 20px;
                &:hover{
                    color: $hovercolor;
                    text-decoration: underline;

                }
            }
            
        }
        // third child
        .third{
            a{
                i{
                    font-size: 30px;
                    margin-right: 20px;

                    &:hover{
                        color: $hovercolor;
                    }
                }
            }
            
        
        }
    }
}